@model Evolution.Models.ViewModels.PurchaseOrderSplitViewModel
@using Evolution.Resources

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using (Html.BeginForm("Save", "SplitPurchase", FormMethod.Post, new { id = "frmSplit" })) {
    @Html.AntiForgeryToken()
    @Html.HiddenFor(m => m.TZ)
    @Html.HiddenFor(m => m.LGS)
    @Html.HiddenFor(m => m.OrderDetails.PurchaseOrderHeaderId)

    <div class="panel panel-default">
        <div class="panel-heading">@Model.PageTitle</div>
        <div class="panel-body">
            <div class="row">
                <div class="col-sm-12">
                    <div class="panel panel-default">
                        <div class="panel-heading">@EvolutionResources.bnrOriginalOrderDetails</div>
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-sm-1 cellpadding">@EvolutionResources.lblSupplier:</div>
                                <div class="col-sm-3 cellpadding">@Model.OrderDetails.SupplierName</div>
                                <div class="col-sm-2 cellpadding">@EvolutionResources.lblOrderNumber:</div>
                                <div class="col-sm-1 cellpadding">@Model.OrderDetails.OrderNumber.ToString().TrimEnd('0').TrimEnd('.')</div>
                                <div class="col-sm-2 cellpadding">@EvolutionResources.lblAdvertisedETA:</div>
                                <div class="col-sm-2 cellpadding">@Model.OrderDetails.AdvertisedETA</div>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading">@EvolutionResources.bnrNewOrderDetails</div>
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-sm-2 cellpadding">@EvolutionResources.lblAdvertisedETA</div>
                                <div class="col-sm-2 cellpadding">
                                    @Html.TextBoxFor(m => m.OrderDetails.NewOrderAdvertisedETA, "{0:" + Model.DisplayDateFormat + "}", new { @class = "form-control", @style = "width:100px", @maxlength = "10" })
                                </div>
                                <div class="col-sm-1 cellpadding">@EvolutionResources.lblLocation</div>
                                <div class="col-sm-3 cellpadding">
                                    @Html.DropDownListFor(m => m.OrderDetails.LocationId,
                                         new SelectList(Model.LocationList, "Id", "Text"),
                                         new { @class = "form-control", @style = "width:100%" })
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading">@EvolutionResources.bnrSplitting</div>
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-sm-12">
                                    <div id="purchaseitems" class="table-responsive"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="panel-footer">
            <div class="row">
                <div class="col-sm-6">
                </div>
                <div class="col-sm-6 text-right">
                    <button type="submit" name="command" value="split" class="btn btn-sm btn-primary" onclick="return OnSubmit()">@EvolutionResources.btnSplit</button>
                    <button type="submit" name="command" value="cancel" class="btn btn-sm btn-default" onclick="DisplayProgress()">@EvolutionResources.btnCancel</button>
                </div>
            </div>
        </div>
    </div>
}
<script type="text/javascript">

    $(document).ready(function () {
        $.datepicker.setDefaults({ dateFormat: '@Model.JQDateFormat', altFormat: '' });

        $('#OrderDetails_NewOrderAdvertisedETA').datepicker();

        var gridOptions = {
            appname: '@EvolutionResources.lblApplicationName',
            container: 'purchaseitems',
            widthoffset: 248,
            tableclass: 'gridStyle',
            pagenumber: 1,
            pagesizes: [ 500 ],
            showsearch: false,
            keyfield: 'Id',
            clearmessageondisplay: false,
            datasourceurl: '@Url.Action("GetSplitPurchaseDetails")?index={INDEX}&parentid=@Model.ParentId&pageno={PAGENO}&pagesize={PAGESIZE}',
            columnDefs: [
                { heading: '@EvolutionResources.lblProductCode', width: '', class: '', fields: [{ type: 'field', field: 'ItemNumber', width: '', class: '' }] },
                { heading: '@EvolutionResources.lblProductDescription', width: '', class: '', fields: [{ type: 'field', field: 'ProductDescription', width: '', class: '' }] },
                { heading: '@EvolutionResources.lblOriginalOrderQty', width: '90px', class: '', fields: [{ id: 'lblOrigOrderQty', type: 'field', field: 'OrigOrderQty', width: '', class: '' }] },
                { heading: '@EvolutionResources.lblRemainingQty', width: '90px', class: '', fields: [{ id: 'lblRemainingQty', type: 'field', field: 'RemainingQty', width: '', class: '' }] },
                { heading: '@EvolutionResources.lblSplitToNewOrderQty', width: '100px', class: '', fields: [{ id: 'txtSplitToNewOrderQty', type: 'ctrlint', field: 'SplitToNewOrderQty', maxlength: 5, onchange: 'OnEditChange({INDEX},{ROWNUM})', width: '60px', class: 'form-control' }] },
                { heading: '@EvolutionResources.lblSplitToTargetOrderQty', width: '100px', class: '', fields: [{ id: 'txtTargetOrderQty', type: 'ctrlint', field: 'TargetOrderQty', maxlength: 5, onchange: 'OnEditChange({INDEX},{ROWNUM})', width: '60px', class: 'form-control' }] },
                {
                    heading: '@EvolutionResources.lblTargetOrder', width: '160px', class: '', fields: [{ id: 'ddlTargetOrder', type: 'ctrldropdownlist', list: '@Model.PurchaseOrderList', field: 'TargetOrderId', onchange: 'OnEditChange({INDEX},{ROWNUM})', width: '100%', class: 'form-control' },
                                                                                                       { id: 'hdnPodId', type: 'hidden', field: 'PurchaseOrderDetailId' }]
                },
            ]
        };

        gridManager.InitialiseGrid(gridOptions);
    });

    var calcError = false;
    function OnEditChange(idx, rowNum) {

        var lblOrigQty = $('#' + gridManager.GetFieldName(idx, rowNum, 2, 0));
        var lblRemainQty = $('#' + gridManager.GetFieldName(idx, rowNum, 3, 0));
        var txtNewOrderQty = $('#' + gridManager.GetFieldName(idx, rowNum, 4, 0));
        var txtTargetOrderQty = $('#' + gridManager.GetFieldName(idx, rowNum, 5, 0));
        var ddlTargetOrder = $('#' + gridManager.GetFieldName(idx, rowNum, 6, 0));

        var origQty = parseInt('0' + lblOrigQty.text());
        var remainQty = parseInt('0' + lblRemainQty.text());
        var newOrderQty = parseInt('0' + txtNewOrderQty.val());
        var targetOrderQty = parseInt('0' + txtTargetOrderQty.val());
        var targetOrderId = parseInt('0' + ddlTargetOrder.val());

        remainQty = origQty - (newOrderQty + targetOrderQty);
        lblRemainQty.text(remainQty);

        if (remainQty < 0) {
            DisplayError(1, '@EvolutionResources.errCantSplitMoreThanOriginalQty');
            if (newOrderQty > 0) {
                txtNewOrderQty.focus();
            } else {
                txtTargetOrderQty.focus();
            }
            calcError = true;
        } else if (targetOrderQty > 0 && targetOrderId == 0) {
            DisplayError(2, '@EvolutionResources.infMustSelectTargetOrder');
            ddlTargetOrder.focus();
            calcError = true;
        } else {
            HideError();
            calcError = false;
        }
    }

    function OnSubmit() {
        if (!calcError) {
            DisplayProgress();
            return true;
        } else {
            return false;
        }
    }

</script>
