@model Evolution.Models.ViewModels.EditUserViewModel
@using Evolution.Resources

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using (Html.BeginForm("Save", "MyOptions", FormMethod.Post)) {
    @Html.AntiForgeryToken()
    @Html.HiddenFor(m => m.LGS)
    @Html.HiddenFor(m => m.UserData.Id)
    @Html.HiddenFor(m => m.UserData.Enabled)

    <div class="panel panel-default">
        <div class="panel-heading">@Model.PageTitle</div>
        <div class="panel-body">
            <div class="row">
                <div class="col-sm-2 labelpadding">
                    @EvolutionResources.lblFullName
                </div>
                <div class="col-sm-5 cellpadding">
                    @Html.EditorFor(m => m.UserData.Name, new { htmlAttributes = new { @class = "form-control", @style = "width:100%", @maxlength = "52", @readonly = "readonly" } })
                </div>
            </div>
            <div class="row">
                <div class="col-sm-2 labelpadding">
                    @EvolutionResources.lblFirstName
                </div>
                <div class="col-sm-5 cellpadding">
                    @Html.EditorFor(m => m.UserData.FirstName, new { htmlAttributes = new { @class = "form-control", @style = "width:100%", @maxlength = "20" } })
                </div>
            </div>
            <div class="row">
                <div class="col-sm-2 labelpadding">
                    @EvolutionResources.lblLastName
                </div>
                <div class="col-sm-5 cellpadding">
                    @Html.EditorFor(m => m.UserData.LastName, new { htmlAttributes = new { @class = "form-control", @style = "width:100%", @maxlength = "52" } })
                </div>
            </div>
            <div class="row">
                <div class="col-sm-2 labelpadding">
                    @EvolutionResources.lblEmail
                </div>
                <div class="col-sm-5 cellpadding">
                    @Html.EditorFor(m => m.UserData.EMail, new { htmlAttributes = new { @class = "form-control", @style = "width:100%", @maxlength = "255" } })
                </div>
            </div>
            <div class="row">
                <div class="col-sm-2 labelpadding">
                    @EvolutionResources.lblDefaultBrandCategory
                </div>
                <div class="col-sm-4 cellpadding">
                    @Html.DropDownListFor(m => m.UserData.DefaultBrandCategoryId,
                                               new SelectList(Model.BrandCategoryList, "Id", "Text"),
                                               new { @class = "form-control", @style = "width:100%" })
                </div>
            </div>
            <div class="row">
                <div class="col-sm-2 labelpadding">
                    @EvolutionResources.lblDefaultCompany
                </div>
                <div class="col-sm-4 cellpadding">
                    @Html.DropDownListFor(m => m.UserData.DefaultCompanyId,
                                               new SelectList(Model.CompanyList, "Id", "Text"),
                                               new { @class = "form-control", @style = "width:100%" })
                </div>
            </div>
            <div class="row">
                <div class="col-sm-2 labelpadding">
                    @EvolutionResources.lblDateFormat
                </div>
                <div class="col-sm-2 cellpadding">
                    @Html.DropDownListFor(m => m.UserData.DateFormat,
                                               new SelectList(Model.DateFormatList, "Id", "Text"),
                                               new { @class = "form-control", @tyle = "width:100%" })
                </div>
            </div>
        </div>
        <div class="panel-footer">
            <button type="submit" name="command" value="save" class="btn btn-sm btn-primary" onclick="DisplayProgress()">@EvolutionResources.btnSave</button>
            <button type="submit" name="command" value="cancel" class="btn btn-sm btn-default" onclick="DisplayProgress()">@EvolutionResources.btnCancel</button>
        </div>
    </div>
}

<script type="text/javascript">
    ApplyFocus('UserData_FirstName');
</script>
