@model Evolution.Models.ViewModels.ViewModelBase
@using Evolution.Resources

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="panel panel-default">
    <div class="panel-heading">@Model.PageTitle</div>
    <div class="panel-body">
        <div class="row">
            <div class="col-sm-12">
                <div id="locations" class="table-responsive"></div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function () {

        var gridOptions = {
            appname: '@EvolutionResources.lblApplicationName',
            container: 'locations',
            tableclass: 'gridStyle',
            pagenumber: 1,
            //pagesizes: [ 10, 30, 50, 100 ],
            showsearch: true,
            keyfield: 'Id',
            datasourceurl: '/CompanyAdmin/Locations/GetLocations?index={INDEX}&pageno={PAGENO}&pagesize={PAGESIZE}&search={SEARCH}',
            addurl: '@Url.Action("Edit")?id=-1',
            editurl: '@Url.Action("Edit")?id={KEYFIELD}',
            deleteurl: '@Url.Action("Delete")?id={KEYFIELD}&index={INDEX}',
            deleteconfirm: '@EvolutionResources.errConfirmDeleteItem',
            columnDefs: [
                { heading: '@EvolutionResources.lblLocationName', width: '', class: '', fields: [{ type: 'field', field: 'LocationName', width: '', class: '' }] },
            { heading: '@EvolutionResources.lblLocationIdentification', width: '', class: '', fields: [{ type: 'field', field: 'LocationIdentification', width: '', class: '' }] },
                //{ heading: 'Can Be Sold', width: '', class: '', fields: [{ type: 'field', field: 'CanBeSold', width: '', class: '' }] },
                { heading: '@EvolutionResources.lblStreet', width: '', class: '', fields: [{ type: 'field', field: 'Street', width: '', class: '' }] },
                { heading: '@EvolutionResources.lblCity', width: '', class: '', fields: [{ type: 'field', field: 'City', width: '', class: '' }] },
                { heading: '@EvolutionResources.lblState', width: '', class: '', fields: [{ type: 'field', field: 'State', width: '', class: '' }] },
                { heading: '@EvolutionResources.lblPostCode', width: '', class: '', fields: [{ type: 'field', field: 'PostCode', width: '', class: '' }] },
                { heading: '@EvolutionResources.lblCountry', width: '', class: '', fields: [{ type: 'field', field: 'Country', width: '', class: '' }] },
                { heading: '@EvolutionResources.lblContactName', width: '', class: '', fields: [{ type: 'field', field: 'Contact', width: '', class: '' }] },
                { heading: '@EvolutionResources.lblPhoneNumber', width: '', class: '', fields: [{ type: 'field', field: 'ContactPhone', width: '', class: '' }] },
                { heading: '@EvolutionResources.lblEnabled', width: '90px', class: 'text-center', fields: [{ type: 'enabled', field: 'Enabled', width: '', class: '' }] },
                {
                    heading: '@EvolutionResources.lblAction', width: '80px', class: 'text-center',
                    fields: [
                        { type: 'buttonedit', text: 'Edit', class: '', icon: 'edit' },
                        { type: 'buttondelete', text: 'Delete', class: '', icon: 'trash' }
                    ]
                }
            ]
        };

        gridManager.InitialiseGrid(gridOptions);
    });
</script>
