@model Evolution.Models.ViewModels.ProductListViewModel
@using Evolution.Resources

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="panel panel-default">
    <div class="panel-heading">@Model.PageTitle</div>
    <div class="panel-body">
        <div class="row">
            <div class="col-sm-12">
                <div id="products" class="table-responsive"></div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function () {

        var gridOptions = {
            appname: '@EvolutionResources.lblApplicationName',
            container: 'products',
            tableclass: 'gridStyle',
            pagenumber: 1,
            //pagesizes: [ 10, 30, 50, 100 ],
            showsearch: true,
            searchfields: [
                           { type: 'label', text: '@EvolutionResources.lblBrand', width: '50px' },
                           { type: 'dropdownlist', id: 'ddlBrands', width: '200px', datasourceurl: '@Url.Action("GetBrands")', defaultvalue: '-1', refreshonchange: true },
                           { type: 'dropdownlist', id: 'ddlAvailability', width: '200px', datasourceurl: '@Url.Action("GetAvailabilities")', defaultvalue: '@((int)Evolution.Enumerations.ProductAvailability.Live)', refreshonchange: true }
                          ],
            keyfield: 'Id',
            sortcolumns: ['ItemNumber', 'ItemName', 'ProductStatusText', 'Enabled'],
            sortcolumn: 'ItemNumber',
            sortorder: 1,
            datasourceurl: '@Url.Action("GetProducts")?index={INDEX}&pageno={PAGENO}&pagesize={PAGESIZE}&search={SEARCH}&brandid={ddlBrands}&availabilityid={ddlAvailability}',
            addurl: '@Url.Action("Edit")?id=-1&brandId={ddlBrands}',
            editurl: '@Url.Action("Edit")?id={KEYFIELD}&brandId={ddlBrands}',
            deleteurl: '@Url.Action("Delete")?id={KEYFIELD}&index={INDEX}&brandId={ddlBrands}',
            deleteconfirm: '@EvolutionResources.errConfirmDeleteItem',
            ondisplaycomplete: InitialiseFancyBox,
            columnDefs: [
                { heading: '@EvolutionResources.lblProductNumber', width: '125px', class: '', fields: [{ type: 'field', field: 'ItemNumber', width: '', class: '' }] },
                { heading: '@EvolutionResources.lblImage', width: '70px', class: '', fields: [{ type: 'html', field: 'PictureHtml', width: '80px', class: '' }] },
                { heading: '@EvolutionResources.lblProductName', width: '', class: '', fields: [{ type: 'field', field: 'ItemName', width: '', class: '' }] },
                { heading: '@EvolutionResources.lblAvailability', width: '100px', class: '', fields: [{ type: 'field', field: 'ProductAvailabilityText', width: '', class: '' }] },
                { heading: '@EvolutionResources.lblProductStatus', width: '160px', class: '', fields: [{ type: 'field', field: 'ProductStatusText', width: '', class: '' }] },
                { heading: '@EvolutionResources.lblEnabled', width: '90px', class: 'text-center', fields: [{ type: 'enabled', field: 'Enabled', width: '', class: '' }] },
                {
                    heading: '@EvolutionResources.lblAction', width: '80px', class: 'text-center',
                    fields: [
                        { type: 'buttonedit', text: 'Edit', class: '', icon: 'edit' },
                        { type: 'buttondelete', text: 'Delete', class: '', icon: 'trash' }
                    ]
                }
            ]
        };

        gridManager.InitialiseGrid(gridOptions);
    });
</script>
