@model Evolution.Models.ViewModels.ViewModelBase
@using Evolution.Resources

<div class="panel panel-default">
    <div class="panel-heading">@EvolutionResources.bnrPurchases</div>
    <div class="panel-body">
        <div class="row">
            <div class="col-sm-12">
                <div id="purchasesummary" class="table-responsive"></div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function () {

        var gridOptions = {
            appname: '@EvolutionResources.lblApplicationName',
            container: 'purchasesummary',
            tableclass: 'gridStyle',
            pagenumber: 1,
            //pagesizes: [ 10, 30, 50, 100 ],
            //showsearch: true,
            keyfield: 'Id',
            datasourceurl: '@Url.Action("GetPurchaseSummary")?index={INDEX}&pageno={PAGENO}&pagesize={PAGESIZE}&search={SEARCH}',
            editurl: '@Url.Action("Edit")?id={KEYFIELD}',
            columnDefs: [
                { heading: '@EvolutionResources.lblOrderNumber', width: '100px', class: '', fields: [{ type: 'field', field: 'OrderNumberUrl', width: '', class: '' }] },
                { heading: '@EvolutionResources.lblOrderDate', width: '90px', class: '', fields: [{ type: 'isodate', field: 'OrderDateISO', format: '@Model.DisplayDateFormat', width: '', class: '' }] },
                { heading: '@EvolutionResources.lblSupplier', width: '', class: '', fields: [{ type: 'field', field: 'SupplierName', width: '', class: '' }] },
                { heading: '@EvolutionResources.lblOrderStatus', width: '120px', class: '', fields: [{ type: 'field', field: 'POStatusText', width: '', class: '' }] },
                { heading: '@EvolutionResources.lblLandingDate', width: '90px', class: '', fields: [{ type: 'isodate', field: 'LandingDateISO', format: '@Model.DisplayDateFormat', width: '', class: '' }] },
                { heading: '@EvolutionResources.lblRealisticETA', width: '90px', class: '', fields: [{ type: 'isodate', field: 'RealisticRequiredDateISO', format: '@Model.DisplayDateFormat', width: '', class: '' }] },
                { heading: '@EvolutionResources.lblAdvUSFinal', width: '90px', class: '', fields: [{ type: 'isodate', field: 'RequiredDateISO', format: '@Model.DisplayDateFormat', width: '', class: '' }] }
            ]
        };

        gridManager.InitialiseGrid(gridOptions);
    });

</script>
