@model Evolution.Models.ViewModels.ViewModelBase
@using Evolution.Resources

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="panel panel-default">
    <div class="panel-heading">@Model.PageTitle</div>
    <div class="panel-body">
        <div class="row">
            <div class="col-sm-12">
                @Html.HiddenFor(m => m.ParentId)
                <div id="salenotes" class="table-responsive"></div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function () {

        var gridOptions = {
            appname: '@EvolutionResources.lblApplicationName',
            container: 'salenotes',
            tableclass: 'gridStyle',
            pagenumber: 1,
            //pagesizes: [ 10, 30, 50, 100 ],
            showsearch: true,
            keyfield: 'Id',
            ondisplaycomplete: InitialiseFancyBox,
            datasourceurl: '/Sales/SaleNotes/GetSaleNotes?index={INDEX}&saleid={PARENTID}&pageno={PAGENO}&pagesize={PAGESIZE}&search={SEARCH}',
            addurl: '@Url.Action("Edit")?id=-1&saleid={PARENTID}',
            editurl: '@Url.Action("Edit")?id={KEYFIELD}&saleid={PARENTID}',
            deleteurl: '@Url.Action("Delete")?id={KEYFIELD}&index={INDEX}&saleid={PARENTID}',
            deleteconfirm: '@EvolutionResources.errConfirmDeleteItem',
            columnDefs: [
                {
                    heading: '', width: '160px', class: '', fields: [{ type: 'isodatetime', field: 'DateCreatedISO', format: '@Model.DisplayDateFormat', width: '', class: '' },
                                                                     { type: 'text', text: '<br/>' },
                                                                     { type: 'field', field: 'CreatedBy', width: '', class: 'small' }]
                },
                {
                    heading: '@EvolutionResources.lblMessage', width: '', class: '', fields: [{ type: 'field', field: 'Subject', width: '', class: 'h4' },
                                                                                              { type: 'text', text: '<br/><br/>' },
                                                                                              { type: 'field', field: 'Message', width: '', class: '' },
                                                                                              { type: 'text', text: '<br/><br/>' },
                                                                                              { type: 'field', field: 'Attachments', width: '', class: '' }] },
                { heading: '@EvolutionResources.lblAction', width: '65px', class: 'text-center', fields: [{ type: 'buttondelete', text: 'Delete', class: '', icon: 'trash' }
                                                                        ]}
            ]
        };

        gridManager.InitialiseGrid(gridOptions);
    });
</script>
