@model Evolution.Models.ViewModels.ViewModelBase
@using Evolution.Resources

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="panel panel-default">
    <div class="panel-heading">@Model.PageTitle</div>
    <div class="panel-body">
        <div class="row">
            <div class="col-sm-12">
                @Html.HiddenFor(m => m.ParentId)
                <div id="customermarketing" class="table-responsive"></div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function () {

        var gridOptions = {
            appname: '@EvolutionResources.lblApplicationName',
            container: 'customermarketing',
            tableclass: 'gridStyle',
            pagenumber: 1,
            //pagesizes: [ 10, 30, 50, 100 ],
            showsearch: true,
            keyfield: 'Id',
            datasourceurl: '/Customers/CustomerMarketing/GetCustomerMarketing?index={INDEX}&customerid={PARENTID}&pageno={PAGENO}&pagesize={PAGESIZE}&search={SEARCH}',
            addurl: '@Url.Action("Edit")?id=-1&customerid={PARENTID}',
            editurl: '@Url.Action("Edit")?id={KEYFIELD}&customerid={PARENTID}',
            deleteurl: '@Url.Action("Delete")?id={KEYFIELD}&index={INDEX}&customerid={PARENTID}',
            deleteconfirm: '@EvolutionResources.errConfirmDeleteItem',
            columnDefs: [
                { heading: '@EvolutionResources.lblGroupName', width: '', class: '', fields: [{ type: 'field', field: 'GroupName', width: '', class: '' }] },
                { heading: '@EvolutionResources.lblCustomerContact', width: '', class: '', fields: [{ type: 'field', field: 'ContactName', width: '', class: '' }] },
                { heading: '@EvolutionResources.lblFrom', width: '110px', class: '', fields: [{ type: 'isodate', field: 'DateFromISO', width: '', format: '@Model.DisplayDateFormat', class: '' }] },
                { heading: '@EvolutionResources.lblTo', width: '110px', class: '', fields: [{ type: 'isodate', field: 'DateToISO', width: '', format: '@Model.DisplayDateFormat', class: '' }] },
                { heading: '@EvolutionResources.lblAction', width: '80px', class: 'text-center', fields: [{ type: 'buttonedit', text: 'Edit', class: '', icon: 'edit' },
                                                                         { type: 'buttondelete', text: 'Delete', class: '', icon: 'trash' }
                                                                        ]}
            ]
        };

        gridManager.InitialiseGrid(gridOptions);
    });
</script>


