@model Evolution.Models.ViewModels.EditCustomerMarketingViewModel
@using Evolution.Resources

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using (Html.BeginForm("Save", "CustomerMarketing", FormMethod.Post)) {
    @Html.AntiForgeryToken()
    @Html.HiddenFor(m => m.ParentId)
    @Html.HiddenFor(m => m.LGS)
    @Html.HiddenFor(m => m.CustomerMarketing.Id)
    @Html.HiddenFor(m => m.CustomerMarketing.CompanyId)
    @Html.HiddenFor(m => m.CustomerMarketing.CustomerId)

    <div class="panel panel-default">
        <div class="panel-heading">@Model.PageTitle</div>
        <div class="panel-body">
            <div class="row">
                <div class="col-sm-2 labelpadding">
                    @EvolutionResources.lblMarketingGroup
                </div>
                <div class="col-sm-5 cellpadding">
                    @Html.DropDownListFor(m => m.CustomerMarketing.MarketingGroupId,
                                               new SelectList(Model.MarketingGroupList, "Id", "Text"),
                                               new { @class = "form-control", @style = "width:100%" })
                </div>
            </div>
            <div class="row">
                <div class="col-sm-2 labelpadding">
                    @EvolutionResources.lblCustomerContact
                </div>
                <div class="col-sm-5 cellpadding">
                    @Html.DropDownListFor(m => m.CustomerMarketing.CustomerContactId,
                                               new SelectList(Model.CustomerContactList, "Id", "Text"),
                                               new { @class = "form-control", @style = "width:100%" })
                </div>
            </div>
            <div class="row">
                <div class="col-sm-2 labelpadding">
                    @EvolutionResources.lblFrom
                </div>
                <div class="col-sm-2 cellpadding">
                    @Html.TextBoxFor(m => m.CustomerMarketing.DateFrom, "{0:" + Model.DisplayDateFormat + "}", new { @class = "form-control", @style = "width:100px", @maxlength = "10" })
                </div>
            </div>
            <div class="row">
                <div class="col-sm-2 labelpadding">
                    @EvolutionResources.lblTo
                </div>
                <div class="col-sm-2 cellpadding">
                    @Html.TextBoxFor(m => m.CustomerMarketing.DateTo, "{0:" + Model.DisplayDateFormat + "}", new { @class = "form-control", @style = "width:100px", @maxlength = "10" })
                </div>
            </div>
        </div>
        <div class="panel-footer">
            <button type="submit" name="command" value="save" class="btn btn-sm btn-primary" onclick="DisplayProgress()">@EvolutionResources.btnSave</button>
            <button type="submit" name="command" value="cancel" class="btn btn-sm btn-default" onclick="DisplayProgress()">@EvolutionResources.btnCancel</button>
        </div>
    </div>
}
<script type="text/javascript">
    ApplyFocus('CustomerMarketing_MarketingGroupId');

    $(document).ready(function () {
        $('#CustomerMarketing_DateFrom').datepicker({ dateFormat: '@Model.JQDateFormat' });
        $('#CustomerMarketing_DateTo').datepicker({ dateFormat: '@Model.JQDateFormat' });
    });
</script>
