@model Evolution.Models.ViewModels.ViewModelBase
@using Evolution.Resources

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="panel panel-default">
    <div class="panel-heading">@Model.PageTitle</div>
    <div class="panel-body">
        <div class="row">
            <div class="col-sm-12">
                @Html.HiddenFor(m => m.ParentId)
                <div id="creditcards" class="table-responsive"></div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function () {

        var gridOptions = {
            appname: '@EvolutionResources.lblApplicationName',
            container: 'creditcards',
            tableclass: 'gridStyle',
            pagenumber: 1,
            //pagesizes: [ 10, 30, 50, 100 ],
            showsearch: false,
            keyfield: 'Id',
            datasourceurl: '/Customers/CreditCards/GetCustomerCreditCards?index={INDEX}&customerid={PARENTID}&pageno={PAGENO}&pagesize={PAGESIZE}',
            addurl: '@Url.Action("Edit")?id=-1&customerid={PARENTID}',
            editurl: '@Url.Action("Edit")?id={KEYFIELD}&customerid={PARENTID}',
            deleteurl: '@Url.Action("Delete")?id={KEYFIELD}&index={INDEX}&customerid={PARENTID}',
            deleteconfirm: '@EvolutionResources.errConfirmDeleteItem',
            columnDefs: [
                { heading: '@EvolutionResources.lblCardProvider', width: '150px', class: 'text-center', fields: [{ type: 'thumb', field: 'CardProviderLogo', width: '80px', height: 'auto', class: '' }] },
                { heading: '@EvolutionResources.lblCardNumber', width: '', class: '', fields: [{ type: 'field', field: 'CreditCardNo', width: '', class: '' }] },
                { heading: '@EvolutionResources.lblNameOnCard', width: '', class: '', fields: [{ type: 'field', field: 'NameOnCard', width: '', class: '' }] },
                { heading: '@EvolutionResources.lblExpiry', width: '', class: '', fields: [{ type: 'field', field: 'Expiry', width: '', class: '' }] },
                { heading: '@EvolutionResources.lblCCV', width: '', class: '', fields: [{ type: 'field', field: 'CCV', width: '', class: '' }] },
                { heading: '@EvolutionResources.lblEnabled', width: '90px', class: 'text-center', fields: [{ type: 'enabled', field: 'Enabled', width: '', class: 'text-center' }] },
                { heading: '@EvolutionResources.lblAction', width: '80px', class: 'text-center', fields: [{ type: 'buttonedit', text: 'Edit', class: '', icon: 'edit' },
                                                                         { type: 'buttondelete', text: 'Delete', class: '', icon: 'trash' }
                                                                        ]}
            ]
        };

        gridManager.InitialiseGrid(gridOptions);
    });
</script>

